*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 13px;
}
#container{
    width:580px;
    margin:0 auto;
    text-align: center;
}
h1#logo{
    width:284px;
    height:95px;
    background:
    url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/250px-Google_2015_logo.svg.png) top left no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    margin: 0 auto;
}
input[type="text"] {
    width: 580px;
    padding: 6px;
    margin: 25px 0 10px;
    border:solid 1px #ccc;
    font-size:16px;
}
input[type="submit"]{
    background: #eee;
    padding: 6px;
    margin: 25px 8px 10px 0;
    border: solid 0px #ddd;
    font-size: 14px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: solid 0.5px #ddd;
}
input[type="submit"]:hover {
    
}